* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family:'Courier New', Courier, monospace;
    background-color: white;
    align-items: center;
}

.products {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overcoats, .jackets, .lowers, .t-shirts {
    background-color: red;
    width: 320px;
    height: 390px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 25px 40px 25px black;
}

.overcoats:hover, .jackets:hover, .lowers:hover, .t-shirts:hover {
    width: 340px;
    height: 410px;
}

.man .overcoats {
    background-image: url("images/overcoat_men.jpg");
    background-position: center;
    background-size: cover;
}

.women .overcoats {
    background-image: url("images/overcoat-women.jpg");
    background-position: center;
    background-size: cover;
}

.man .jackets {
    background-image: url("images/jacket-men.png");
    background-position: center;
    background-size: cover;
}

.women .jackets {
    background-image: url("images/jacket-women.jpg");
    background-position: center;
    background-size: cover;
}

.man .lowers{
    background-image: url("images/lower-men.jpg");
    background-position: center;
    background-size: cover;
}

.women .lowers{
    background-image: url("images/lower-women.jpg");
    background-position: center;
    background-size: cover;
}

.man .t-shirts {
    background-image: url("images/t-shirts-men.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
}

.women .t-shirts {
    background-image: url("images/t-shirts-women.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}


.type {
    background-color: antiquewhite;
    padding: 5px;
    position: relative;
    top: 92%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}